<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/reset_css/reset.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/header/header.css">
    <link rel="stylesheet" href="/static/styles/home/home.css">
</head>

<body>
    <header >
        <nav class="container">
            <ul class="nav-menu">
                <li class="logo">
                    <a href=""><img src="/static/img/logo.png" alt=""></a>
                    </li>
                <li class="nav-item"><a href="">Компания</a></li>
                <li class="nav-item"><a href="/catalog">Каталог</a></li>
                <li class="nav-item"><a href="">Услуги</a></li>
                <li class="nav-item"><a href="">Информация</a></li>
                <li class="nav-item"><a href="">Контакты</a></li>
                <li class="nav-item"><a href="">Заказать call</a></li>
                <li class="nav-item"><a href="">Поиск</a></li>
                <li class="nav-item"><a href="">Корзина</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="main">
            <div class="container">
                <h2 class="main-title">НАДЕЖНЫЕ, КАЧЕСТВЕННЫЕ АККУМУЛЯТОРЫ</h2>
                <a href="/Catalog"><button class="main-button">Catalog</button></a>
            </div>
        </div>
        <div class="container">
            <ul class="main-tiles">
                <li class="tile">
                    <img src="/static/img/home/Group_0.png" alt="" class="tile-image">
                    <p class="tile-title">
                        Наличный и безналичный расчет
                    </p>
                </li>
                <li class="tile">
                    <img src="/static/img/home/Group_1.png" alt="" class="tile-image">
                    <p class="tile-title">
                        Техническая помощь и консультация
                    </p>
                </li>
                <li class="tile">
                    <img src="/static/img/home/Group_2.png" alt="" class="tile-image">
                    <p class="tile-title">
                        Только качественная и проверенная продукция
                    </p>
                </li>
                <li class="tile">
                    <img src="/static/img/home/Group_3.png" alt="" class="tile-image">
                    <p class="tile-title">
                        Мы всегда на связи <br> с 09:00 до 18:00!
                    </p>
                </li>
            </ul>
        </div>
            <div class="main_2">
                <h2 class="service-title">Автотовары: аксессуары,
расходники и многое другое</h2>
                <p class="service-subtitle">
                    PROAuto - это специализированный интернет магазин востребованных товаров для автомобилей.
                </p>
                <div class="service-cards">
                    <ul class="my-container">
                        <li class="service-card">
                            <div>
                              <div class="image-container">
                                <img src="/static/img/home/service/acumulator.png" alt="Sample Image">
                                <div class="overlay">
                                  <div class="text-center">
                                    <h3>АККУМУЛЯТОРЫ</h3>
                                    <a href="#" class="button">Перейти</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </li>
                        <li class="service-card">
                            <div>
                              <div class="image-container">
                                <img src="/static/img/home/service/fuel.png" alt="Sample Image">
                                <div class="overlay">
                                  <div class="text-center">
                                    <h3>МАСЛА</h3>
                                    <a href="#" class="button">Перейти</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </li>
                        <li class="service-card">
                            <div>
                              <div class="image-container">
                                <img src="/static/img/home/service/buty.png" alt="Sample Image">
                                <div class="overlay">
                                  <div class="text-center">
                                    <h3>ПОКРАСКА</h3>
                                    <a href="#" class="button">Перейти</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </li>
                        <li class="service-card">
                            <div>
                              <div class="image-container">
                                <img src="/static/img/home/service/chemical.png" alt="Sample Image">
                                <div class="overlay">
                                  <div class="text-center">
                                    <h3>ЭЛЕКТРИКА</h3>
                                    <a href="#" class="button">Перейти</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </li>
                        <li class="service-card">
                            <div>
                              <div class="image-container">
                                <img src="/static/img/home/service/acceserice.png" alt="Sample Image">
                                <div class="overlay">
                                  <div class="text-center">
                                    <h3>ПОЛИРОВКА</h3>
                                    <a href="#" class="button">Перейти</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </li>
                        <li class="service-card">
                            <div>
                              <div class="image-container">
                                <img src="/static/img/home/service/other.png" alt="Sample Image">
                                <div class="overlay">
                                  <div class="text-center">
                                    <h3>ЗАПЧАСТИ</h3>
                                    <a href="#" class="button">Перейти</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
    </section>
</body>
</html>