

/* Анимация появления формы */
.login-form {
    max-width: 400px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-in-out forwards;
    max-height: 80vh;
    overflow: scroll;

}

/* Анимация для формы */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-container h2 {
    margin-bottom: 20px;
    color: #205781;
}

/* Блоки ввода */
.input-block {
    margin-bottom: 15px;
    text-align: left;
}

/* Анимация для меток */
.input-block label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #205781;
    transition: color 0.3s ease-in-out;
}

/* Поля ввода с эффектами */
.input-block input {
    width: 100%;
    padding: 12px;
    border: 2px solid #98D2C0;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

/* Анимация фокуса */
.input-block input:focus {
    border-color: #4F959D;
    transform: scale(1.05);
}

/* Эффект hover для полей ввода */
.input-block input:hover {
    border-color: #4F959D;
}


.selector {
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    background-color: lightgreen;
    color: darkblue;
}