body{

    font-family: 'Montserrat', sans-serif;
    background-color: #0e0e0e;
}

.main{
    margin: 0;
    background: url("/static/img/main_banner.png");
    width: 100vw;
    height: 45rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0E0E0E;
    margin-top: 6.25rem;
}

.main_2{
    margin: 0;
    background: url("/static/img/home/fon.png")no-repeat center center;
    width: 100vw;
    height: fit-content;
    background-color: #0E0E0E;
}

button{
    width: fit-content;
    padding: 1rem 1.125rem;
    border: 0.25rem solid brown;
    background-color: transparent;
    color: #FFFFFF;
    transition: transform 0.6s ease;

    &:hover{
        transform: scale(1.2);

    }
}

.button{
    width: fit-content;
    padding: 1rem 1.125rem;
    border: 0.25rem solid brown;
    background-color: transparent;
    color: #FFFFFF;
    transition: transform 0.6s ease;

    &:hover{
        transform: scale(1.2);

    }
}

.image-container {
      position: relative;
      /*width: 100%;*/
      max-width: 400px;
    }
.image-container img {
      /*width: 100%;*/
      height: auto;
    }
.overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s;
    }
.image-container:hover .overlay {
      opacity: 1;
    }
.overlay .btn {
      margin-top: 20px;
    }