{% extends 'base.html' %}

{% block title %}Вхід{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4 text-center">🔐 Вхід до акаунту</h2>

        <form method="post" class="border p-4 shadow-sm bg-light rounded">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-primary w-100">🔑 Увійти</button>
        </form>
    </div>
</div>
{% endblock %}