{% extends 'base/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/cargo/index.css' %}">

{% endblock %}

{% block content %}
<div class="video-container">
    <video autoplay muted loop>
        <source src="{% static 'bg/home_bg.mp4' %}" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>
</div>

<div class="content">
    <h1>Добро пожаловать!</h1>
    <p>Здесь ваш основной контент.</p>
</div>

{% endblock %}

{% block extra_scripts %}
<!-- Optional: Add any additional scripts here -->
{% endblock %}