{% extends "base/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href={% static "css/cargo/add_cargo.css" %}>
{% endblock %}

{% block content %}
<div class="content ">
    <form method="post" class="cargo-form">
        <div class="cargo-form__group">
            <h1 class="cargo-form__title">Додати вантаж</h1>
        </div>
        {% csrf_token %}

        <div class="cargo-form__group">
            <label for="name" class="cargo-form__label">Назва вантажу:</label>
            <input type="text" id="name" name="name" class="cargo-form__input" required>
        </div>

        <div class="cargo-form__group">
            <label for="origin" class="cargo-form__label">Звідки:</label>
            <input type="text" id="origin" name="origin" class="cargo-form__input" required>
        </div>

        <div class="cargo-form__group">
            <label for="destination" class="cargo-form__label">Куди:</label>
            <input type="text" id="destination" name="destination" class="cargo-form__input" required>
        </div>

        <div class="cargo-form__group">
            <label for="description" class="cargo-form__label">Коментарій:</label>
            <textarea id="description" name="description" maxlength="500" class="cargo-form__textarea"></textarea>
        </div>
        <div class="cargo-form__group">
            <label for="truck" class="cargo-form__label">Тип вантажу:</label>
            <select id="truck" name="truck" class="cargo-form__input" required>
                <option value="" disabled selected>Оберіть тип причепа</option>
                <option value="Tent">Тентований (штора)</option>
                <option value="Mega_trailer">Мега трейлер</option>
                <option value="Jumbo">Jumbo (великоваговий)</option>
                <option value="Refrigerator">Рефрижератор</option>
                <option value="Isotherm">Ізотермічний</option>
                <option value="Open">Відкритий (платформа)</option>
                <option value="Low_loader">Низькорамний (Low Loader)</option>
                <option value="Container_20">Контейнеровоз (20 футів)</option>
                <option value="Container_40">Контейнеровоз (40 футів)</option>
                <option value="Container_platform">Контейнерна платформа</option>
                <option value="Grain_trailer">Зерновоз</option>
                <option value="Dump_trailer">Самоскид</option>
                <option value="Walking_floor">Walking Floor (рухома підлога)</option>
                <option value="Tanker">Цистерна</option>
                <option value="Chemical_tanker">Цистерна для хімікатів</option>
                <option value="Fuel_tanker">Цистерна для пального</option>
                <option value="Food_tanker">Цистерна харчова</option>
                <option value="Livestock">Причіп для тварин</option>
                <option value="Logging_trailer">Лісовоз</option>
                <option value="Auto_transporter">Автовоз</option>
                <option value="Caravan">Причіп-дача (караван)</option>
                <option value="Flatbed">Платформа (Flatbed)</option>
                <option value="Modular_trailer">Модульний трал</option>
            </select>
        </div>

        <div class="cargo-form__group">
            <div class="cargo-form__group">
            <label for="payment" class="cargo-form__label">Сума:</label>
            <input type="text" id="payment" name="payment" class="cargo-form__input" required>
            </div>
                <div>
                <div class="cargo-form__group">
                    <label for="currency" class="cargo-form__label">Валюта:</label>
                    <select id="currency" name="currency" class="cargo-form__input" required>
                        <option value="" disabled selected>Оберіть валюту</option>
                        <option value="UAH">UAH – Українська гривня</option>
                        <option value="USD">USD – Долар США</option>
                        <option value="EUR">EUR – Євро</option>
                        <option value="PLN">PLN – Польський злотий</option>
                        <option value="GBP">GBP – Британський фунт</option>
                        <option value="CHF">CHF – Швейцарський франк</option>
                        <option value="CZK">CZK – Чеська крона</option>
                        <option value="HUF">HUF – Угорський форинт</option>
                        <option value="RON">RON – Румунський лей</option>
                        <option value="TRY">TRY – Турецька ліра</option>
                        <option value="CNY">CNY – Китайський юань</option>
                        <option value="JPY">JPY – Японська єна</option>
                        <option value="CAD">CAD – Канадський долар</option>
                        <option value="AUD">AUD – Австралійський долар</option>
                        <option value="MDL">MDL – Молдовський лей</option>
                        <option value="RSD">RSD – Сербський динар</option>
                        <option value="NOK">NOK – Норвезька крона</option>
                        <option value="SEK">SEK – Шведська крона</option>
                        <option value="DKK">DKK – Данська крона</option>
                    </select>
                </div>
                <div class="cargo-form__group">
                    <label for="payment_method" class="cargo-form__label">Спосіб оплати:</label>
                    <select id="payment_method" name="payment_method" class="cargo-form__input" required>
                        <option value="" disabled selected>Оберіть спосіб оплати</option>
                        <option value="card">На картку</option>
                        <option value="cash">Готівкою</option>
                        <option value="bank_transfer">Банківський переказ</option>
                        <option value="payment_on_delivery">Післяплата (при доставці)</option>
                        <option value="invoice">По рахунку (з відтермінуванням)</option>
                        <option value="online_wallet">Онлайн гаманець (PayPal, Revolut)</option>
                        <option value="crypto">Криптовалюта (Bitcoin, USDT)</option>
                        <option value="terminal">Оплата через термінал (POS)</option>
                        <option value="letter_of_credit">Акредитив (Letter of Credit)</option>
                        <option value="western_union">Western Union / MoneyGram</option>
                        <option value="barter">Бартер / Обмін</option>
                        <option value="cheque">Банківський чек</option>
                        <option value="mobile_payment">Мобільна оплата (Apple/Google Pay)</option>
                    </select>
                </div>
                    </div>
        </div>

        <div class="cargo-form__group cargo-form__group--submit">
            <input type="submit" value="Зберегти" class="cargo-form__submit">
        </div>
    </form>
</div>
{% endblock %}


{% block extra_scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfB1EAVuIvBnDjolH6SOtuami3gaLuSNI&libraries=places&language=uk"></script>
<script>
    function initAutocomplete() {
        const originInput = document.getElementById('origin');
        const destinationInput = document.getElementById('destination');

        const originAutocomplete = new google.maps.places.Autocomplete(originInput, {
            types: ['(cities)'],
        });

        const destinationAutocomplete = new google.maps.places.Autocomplete(destinationInput, {
            types: ['(cities)'],
        });
    }

    // Ініціалізуємо при завантаженні
    window.addEventListener('load', initAutocomplete);
</script>
{% endblock %}