{% extends 'base/base.html' %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href={% static "/css/cargo/cargo.css"%}>
{% endblock %}

{% block content %}

<div class="content">
    <!-- Левая панель с карточками товаров -->
    <div class="cargo-list">
        <h2 class="section-title">Пошук Вантаж</h2>
        <div class="filters">
            <div class="filter-group">
                <label for="origin-select">Місце відправлення:</label>
                <select id="origin-select" onchange="filterCargos()">
                    <option value="">З усіх напрямків</option>
                    {% for origin in origins %}
                        <option  value="{{ origin }}">{{ origin }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-group">
                <label for="destination-select">Місце прибуття::</label>
                <select id="destination-select" onchange="filterCargos()">
                    <option value="">В Усі напрямки</option>
                    {% for destination in destinations %}
                        <option  value="{{ destination }}">{{ destination }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% for cargo in cargos %}
            <div class="cargo-card" data-origin="{{ cargo.origin }}" data-destination="{{ cargo.destination }}"
                 onclick="handleCardClick(this, '{{ cargo.origin }}', '{{ cargo.destination }}')">
                <h3>{{ cargo.name }}</h3>
                <p><strong>Відправлення:</strong> {{ cargo.origin }}</p>
                <p><strong>Прибуття:</strong> {{ cargo.destination }}</p>
                <p><strong>Відстань:</strong> {{ cargo.distance }}</p>
                <p><strong>Тривалість:</strong> {{ cargo.duration }}</p>

                <div class="hide_show">
                    <p><strong>Компанія:</strong> {{ cargo.company }}</p>
                    <p><strong>Телефон:</strong> {{ cargo.phone }}</p>
                    <p><strong>Сплата:</strong> {{ cargo.payment }}usd</p>
                    <p><strong>Коментар:</strong> {{ cargo.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Правая панель с картой -->
    <div class="map-container">
        <div id="map" class="map-view"></div>
        <div class="route-info">
            <h3>Данні шляху</h3>
            <p><strong>З:</strong> <span id="route-origin"></span></p>
            <p><strong>До:</strong> <span id="route-destination"></span></p>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src='../../../static/js/cargo/cargo.js'></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfB1EAVuIvBnDjolH6SOtuami3gaLuSNI&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_commutes_v3_c"
      async
      defer
    ></script>

<script>
    window.addEventListener('load', adjustLayout);
    window.addEventListener('resize', adjustLayout);

    function adjustLayout() {
        // Получаем высоту header и footer
        const headerHeight = document.querySelector('header').offsetHeight;
        const footerHeight = document.querySelector('footer').offsetHeight;

        // Вычисляем доступную высоту для контента
        const contentHeight = window.innerHeight - headerHeight - footerHeight;

        // Устанавливаем высоту для блоков cargo-list и map-container
        document.querySelector('.cargo-list').style.height = contentHeight + 'px';
        document.querySelector('.map-container').style.height = contentHeight + 'px';
    }
    function handleCardClick(cardElement, origin, destination) {
        // Обновляем карту
        updateMap(origin, destination);

        // Переключаем видимость блока
        const detailBlock = cardElement.querySelector('.hide_show');
        detailBlock.classList.toggle('show');
    }

</script>
{% endblock %}