{% extends 'base/base.html' %}
{% load static %}

{% block title %}Customer Companies{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="./../../static/css/customers/customers.css">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Customer Companies</h2>
    <div class="row">
        {% for company in companies %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ company.logo_url }}" class="card-img-top" alt="{{ company.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ company.name }}</h5>
                    <p class="card-text">{{ company.description }}</p>
                    <p class="card-text"><strong>Location:</strong> {{ company.location }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}