# Игнорируем виртуальное окружение
venv/
.env
*.env
#
## Игнорируем файлы базы данных
#/db.sqlite3
#*.sqlite3

# Игнорируем кеш и временные файлы
__pycache__/
*.pyc
*.pyo
*.log

# Игнорируем настройки PyCharm и VS Code
.idea/
.vscode/

# Игнорируем файлы статики, если они генерируются
staticfiles/
media/